@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "appFont";
  src: url("./app/assets/fonts/MonaSans-SemiBold.ttf") format("truetype");
}

html,
body {
  height: 100%;
}

body {
  font-family: "appFont";
  font-feature-settings: unset;
}
